<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

 <!-- Main Content -->
 <main class="container">
  <br>
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-3">Contact Name</th>
                    <th class="text-center col-3">Contact Number</th>
                    <th class="text-center col-4">Email</th>
                        <th class="text-center col-3">Actions</th>
                </tr>

            <!-- Repeatable Template Row -->

            <% contactsList.forEach(contact => { %>
                <tr class="d-flex">
                    <td class="text-center col-3"><%= contact.contactName %></td>
                    <td class="text-center col-3"><%= contact.contactNumber %></td>
                    <td class="text-center col-4"><%= contact.email %></td>
                    <td class="text-center col-3">
                        <a href="/contacts/<%= contact._id %>" class="btn btn-dark btn-sm"><i class="fa fa-pencil-alt"></i> </a> 
                        <a href="/contacts/delete/<%= contact._id %>" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i> </a>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
</main>

<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>