<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!--Main Navigation-->
<!-- about section starts -->

<!-- Active Surveys Section -->
<main class="container">
    <div class="offset-md-1 col-md-10">
        <br>
        <h1><%= title %></h1>
        <br>
        <table class="active-surveys">
            <thead>
                <tr>
                    <th class="col-2">Author</th>
                    <th class="col-3">Survey Name</th>
                    <th class="col-2">Start Date</th>
                    <th class="col-2">Closing Date</th>
                    <th class="text-center col-1"> View Questions </th>
                    <th class="text-center col-3"> Actions </th>
                        
                </tr>
            </thead>

            <tbody>
            <% for(let count = 0; count < surveyList.length; count++) { %>
                <tr>
                    <td class="col-2"><%= surveyList[count].author %></td>
                    <td class="col-3"><%= surveyList[count].surveyName %></td>
                    <td class="col-2"><%= surveyList[count].startDate %></td>
                    <td class="col-2"><%= surveyList[count].closeDate %></td>
                    <td class="text-center col-1"><a class="survey-button" href="<%= surveyList[count]._id %>">View</a></td>
                    <td class="text-center col-3">
                        <a class="survey-button" href="edit/<%= surveyList[count]._id %>"><button class="btn btn-light btn-sm"><i class="fa-solid fa-pencil"></i></button></a>
                        <a class="survey-button" href="delete/<%= surveyList[count]._id %>"><button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button></a>
                    </td>
                </tr>
            <% } %>
            </tbody>

        </table>
    </div>
</main>

<!-- about section ends -->

  <!--Script section -->
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>