<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Login Form -->

<main class="container">
  <div class="offset-md-4 col-md-4 text-center">
        <!-- Message Area -->
      <% if (message && message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>
  </div>
    <br>
    <div class="row">
      <div class="offset-md-4 col-md-4">

        <form method="POST" autocomplete="off">

          <div class="box">
            <div>
              <span class="text-center">Login</span>
            </div>
              <div class="input-container" style="margin-top: 50px;">
                <input type="text" required autocomplete="off" id="username" name="username" />
                <label for="username">username</label>		
              </div>

              <div class="input-container">		
                <input type="password" required autocomplete="off" id="password" name="password" />
                <label for="password">password</label>
              </div>
                or
              <a href="/register"> Register Here </a>
              <br>
                <input type="submit" class="btn btn-dark" value="Login">
                <a href="/">
                  <input type="button" class="btn btn-secondary" value="Cancel">
                </a>
          </div>

        </form> 
      </div>
    </div>
  </main>
  
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>