<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Login Form -->

<main class="container">
    <br>
    <div class="row">
      <div class="offset-md-4 col-md-4">

        <form method="POST" autocomplete="off">

          <div class="box">
            <div class="title-pink">
              <span class="text-center"><%= title %></span>
            </div>
              <div class="input-container" style="margin-top: 50px;">
                <input type="text" required autocomplete="off" id="username" name="username" />
                <label for="username">username</label>		
              </div>

              <div class="input-container">		
                <input type="password" required autocomplete="off" id="password" name="password" />
                <label for="password">password</label>
              </div>
              <br>
                or
              <a href="/register"> Register Here </a>
              <br>
                <input type="submit" class="btn btn-dark" value="Login">
                <a href="/">
                  <input type="button" class="btn btn-secondary" value="Cancel">
                </a>
          </div>

        </form> 
      </div>
    </div>
  </main>
  
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>