<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Login Form -->
<main class="container">
        <form method="POST" autocomplete="off">
          <div class="box">
            <div class="title-pink">
              <span class="text-center"><%= title %></span>
            </div>
              <div class="input-container" style="margin-top: 50px;">
                <input type="text" required autocomplete="off" id="username" name="username"/>
                <label for="username">username</label>		
              </div>

              <div class="input-container">		
                <input type="password" required autocomplete="off" id="password" name="password"/>
                <label for="password">password</label>
              </div>

              <div class="input-container">		
                <input type="email" required autocomplete="off" pattern=".*@.*" id="email" name="email"/>
                <label for="email">email</label>
              </div>

              <div class="input-container">		
                <input type="firstName" required autocomplete="off" id="firstName" name="firstName"/>
                <label for="firstName">first name</label>
              </div>

              <div class="input-container">		
                <input type="lastName" required autocomplete="off" id="lastName" name="lastName"/>
                <label for="lastName">last name</label>
              </div>

            <input type="submit" class="btn" value="Register">
            <a href="/login">
                <input type="button" class="btn" value="Cancel">
            </a>

          </div>
          
        </form>
  </main>
  
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>